<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {{ bmi_cal }} <br>
    {% if (bmi_cal|int < 16) %}
        Severely underweight
    {% elif (16 <= bmi_cal|int <18.5) %}
        Underweight
    {% elif (18.5<= bmi_cal|int < 25) %}
        Normal
    {% elif (25 <= bmi_cal|int < 30) %}
        Overweight
    {% elif (bmi_cal|int <= 30)|int %}
        Obese
    {% endif %}
 
</body>
</html>