<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<form method = "POST">
    Model: <input type="text" placeholder="e.g. Honda" name="model" required><br>
    <br>
    Daily fee (VND): <input type="integer" placeholder="100000" name="fee" required><br>
    <br>
    Image: <input type="text" placeholder="e.g. https://hondaxemay" name="link" required><br>
    <br>
    Year: <input type="integer" placeholder="e.g. 2013" name="year" required><br>
    <br>
    <input type="submit">
    <input type="reset">
</form>

</body>
</html>